@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F5F8FA;
}

h1{
  margin-top: 20px;
  margin-left: 60px;
  font-size: xx-large;
  color: #1DA1F2;
}

h2{
  font-size: large;
  border-bottom: 1px solid #125582;
}

.mt-5{
  border-top: 20px;
  border-top-color: black;
}

.mt-5:hover{
  color: #1DA1F2;
}

svg{
  margin-right: 10px;
}

.area{
  margin-left: 10px;
  width: 675px;
  height: 230px;
  background-color: white;
  padding-bottom: 50px;
}

textarea{
  color: black
}

.btn{
  padding-left: 700px;
  height: 50px;
  width: 50px;
}

.w-6{
  stroke: #1DA1F2;
}

.w-7{
  stroke: #24d364;
  display: block;
}


.w-6:hover{
  fill: #125582;
}

.authorname{
  font-size: small;
  font-weight: 200;
  margin-top: 5px;
}

.submit{
  margin-top: 5px;
  margin-left: 620px;
  background-color: #1DA1F2;
  color: #F5F8FA;
  padding: 5px;
  border-radius: 10px;
}

.submit:hover{
  background-color: #00B6F1;
}

.ideas{
  margin-right: 20px;
}

.upvote{
  border: 2px solid #24d364;
  border-radius: 15px;
}

.upvote:hover{
  background-color: #24d364;
  color:#F5F8FA
}

.login{
  font-size: xx-large;
  color: #00B6F1;
}

.username{
  width: 500px;
  height: 30px;
  border-bottom: 1px solid #48a4e1;
}

.password{
  margin-top: 20px;
  width: 500px;
  height: 30px;
  border-bottom: 1px solid #48a4e1;
}